---
layout: default
title: Home
---

<div class="archive">
    {% for post in site.categories.blog %}
    	<div class="post-row">
    	    <span class="post-anch left">
                {% if post.type != 'link' %}
                    <a target="_blank" href="{{ post.external_url }}">{{ post.title }}</a>
                {% endif %}
                {% if post.type == 'link' %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                {% endif %}
            </span>
    	    <span class="post-crucs right">{{ post.date | date_to_string }}</span>
    	    <div class="clr"></div>
    	</div>
    {% endfor %}
</div>
