* {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clr {
    clear: both;
}

@font-face {
    font-family: "Larsseit-Bold";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atlas Grotesk Web";
    src: url("../fonts/AtlasGrotesk-Bold-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Bold-Web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Atlas Grotesk Web";
    src: url("../fonts/AtlasGrotesk-RegularItalic-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-RegularItalic-Web.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Atlas Grotesk Web";
    src: url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

code {
    padding: .15em .3em;
    font-style: normal;
    font-weight: normal;
    color: #d44950;
    background-color: #f5f5f5;
    border-radius: .15em;
}

h1 {
    font-size: 60px;
    font-family: "Larsseit-Bold", sans-serif;
    font-weight: 400;
    line-height: 1.05;
    letter-spacing: -0.045em;
    margin-bottom: 15px;
}

h2 {
    font-weight: 100;
    color: #3f3f3f;
    margin: 0 0 35px;
}

strong {
    font-weight: bold;
    color: #333;
}

em {
    color: #666;
}

em, strong {
    padding-left: .1em;
    padding-right: .1em;
}

p {
    margin-bottom: 1rem;
}

ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2em;
}

ul li, ol li {
    margin-bottom: 0.3rem;
}

blockquote {
    padding: 0 0 0 1.5rem;
    color: #8F8F8F;
    border-left: 5px solid #e5e5e5;
}

body {
    font-family: "Atlas Grotesk Web", sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 24px;
}

.post-row {
    margin-bottom: 15px;
}

p {
    font-family: "Atlas Grotesk Web", sans-serif;
}

p#tagline {
    font-size: 16px;
    line-height: 1.7;
}

.post-anch a {
    text-decoration: none;
    display: block;
    font-family: "Atlas Grotesk Web", sans-serif;
}

a {
    color: #336;
    text-decoration: none;
    border-bottom: 1px solid rgba(36, 64, 168, 0.48);
    -webkit-transition: border-color 0.15s ease-out;
    transition: border-color 0.15s ease-out;
}

a:hover {
    color: #07d;
    border-bottom: 1px solid #07d;
}

.page-wrap {
    background: white;
    min-height: 800px;

    max-width: 1000px;
    text-align: left;
    padding: 1px 50px 0;
    margin: auto;
}

#tag-line {
    line-height: 32px;
}

#tag-line a {
    background: rgba(169, 169, 169, 0.65);
    padding: 3px 5px 3px 5px;
    border-bottom: 0px;
    font-weight: bold;
    letter-spacing: .02em;
    text-transform: lowercase;
}

.page-header {
    margin-top: 50px;
    margin-bottom: 70px;
}

.page-header h1 {
    color: #336;
    font-size: 70px;
}

.page-header h1 a {
    border: none;
    color: #336;
}

.page-header h1 a:hover {
    color: #07d;
}

.page-header .muted {
    color: #AEAEAE;
}

.page-header .search-box {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: right;
    outline: none;
}

.articles-area {
    display: block;
    width: 100%;
}

.nav-stuff {
    text-align: right;
    width: 30%;
}

.author-info {
    margin: 15px 0 20px 0;
    font-size: 13px !important;
    line-height: 20px;
}

.dev-avatar {
    margin-bottom: 20px;
}

.post-body a {
    border-bottom: 1px solid #ddd;
}

.author-detail {
    padding-left: 90px;
}

.site-footer {
    text-align: left;
    color: #555;
    border-top: 1px dashed #ccc;
    padding: 10px 0 8px 0;
    margin-bottom: 40px;
    font-size: 13px;
    margin-top: 45px;
}

.post-crucs {
    color: #aaa;
}

.post-meta {
    margin-bottom: 10px;
    font-style: italic;
    line-height: 32px;
    text-transform: none;
    font-size: 18px;
    color: #aaa;
}

.post-body {
    margin-top: 32px;
}

.page-content h1 {
    font-size: 2.5em;
    line-height: 46px;
}

.page-content h2 {
    margin: 1.9em 0 1em;
}

.page-content h3 {
    margin: 25px 0 5px 0;
}

.post-body img {
    width: 100%;
    margin: 20px 0;
}

li.nav-head {
    font-weight: bold;
}

.side-nav li {
    list-style-type: none;
}

.side-nav li a {
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid rgb(204, 204, 204);
}

input {
    font-family: 'Source Sans Pro', serif;
}

.site-footer p {
    margin-bottom: 0px;

}

.twitter_plug {
    font-style: italic;
    margin-top: 40px;
}

#mc_embed_signup {
    margin-top: 40px;
    margin-bottom: 50px;
}

#mce-email {
    padding: 11px;
    background: #f8f8f8;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
}

.twitter_plug {
    background-color: #FFFFBB;
    padding: 25px 25px;
}

#disqus_thread {
    margin-top: 50px;
}

#mc-embedded-subscribe {
    padding: 10px;
    background: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Source Sans Pro', serif;
    font-size: 14px;
    font-style: italic;
    border: 2px solid #444;
}

code.hljs {
    padding: 10px 1em 10px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.page-top-nav {
    padding: 15px 0 0;
    font-size: 13px;
    color: #ddd;
    display: block;
    position: relative;
    top: -50px;
}

.page-top-nav a {
    color: #222;
}

img#bash_logo {
    width: 140px;
}

ol#abg_table_of_content a {
    line-height: 30px;
}