<html lang="en">

{% include head.html %}

<body>

<!-- .page-wrap -->
<div class="page-wrap">

    <!-- .page-header -->
    <div class="page-header">

        <h1><a href="/">Adnan Ahmed</a></h1>
        <p id="tag-line">I am a Software Engineering Lead working at <a href="http://tajawal.com" target="_blank"
                                                                        rel="external">Tajawal</a> in Dubai. In my spare
            time, you can find me getting my hands dirty on <a href="http://github.com/idnan" rel="external">Github</a>
            and this is the place where I
            blab about the technical stuff and sometimes about the stuff in general.</p>
        <div class="clr"></div>
    </div>
    <!-- /.page-header -->

    <!-- .page-content -->
    <div class="page-content">

        <!-- .articles-area -->
        <div class="articles-area left">
            {{ content }}
        </div>
        <!-- /.articles-area -->

        {% include comments.html %}

        <div class="clr"></div>

    </div>
    <!-- /.page-content -->

    <div class="site-footer">
        <p class="muted">&copy;
            <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
            . All rights reserved.
        </p>
        <p>Contact me via <a href="mailto:mahradnan@hotmail.com">mail</a>, <a href="https://twitter.com/idnan_se" rel="external">twitter</a>
            or <a href="https://github.com/idnan" rel="external">github</a></p>
    </div>

</div>
<!-- /.page-wrap -->

<script type="text/javascript" src="{{ site.url }}/public/js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% include google_analytics.html %}
</body>
</html>
